{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenido a Fikili!!.</h1>

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
        </div>
    {% endif %}

{#    #}{# Message login succes#}
{#    {% for message in app.flashes('success') %}#}
{#        <div class="alert alert-success">#}
{#            {{ message }}#}
{#        </div>#}
{#    {% endfor %}#}


</div>
{% endblock %}
